
.row{
  padding: 0% 3%;
}

nav{
  position: relative;
}

.spazio{
  padding: 0 3%;
  font-family: comfortaa;
}

h3{
  font-family: comfortaa;
  text-decoration: none;
}

html{
  text-decoration: none;
}

.testo-card{
  font-family: comfortaa;
  text-decoration: none;
}

@media screen and (min-width: 992px){
  .ombra {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
  }

  .ombra:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.parallax-container {
      height: 34%;
    }

.row.fix{
    padding: 13% 3% 0% 3%;
}
.row.ann{
  position: relative;
  top: 0vh;
  padding: 0% 3%;
}

.deactivate {
    filter: grayscale(100%);
}

.curved{
  background: #ffffff;
  color: #000000;
}
