.nav-wrapper{
  opacity: 90%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  padding-right: 30px;
}

.primary{
  background-color: #AB47BC;
}

.sidenav{
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  height: max-content;
  padding-top: 20px;
  padding-bottom: 20;
  overflow: auto;
}

@-moz-document url-prefix() {
  .sidenav {
    height: -moz-max-content;
  }
}

.main{
  padding-top: 4em;
}

.maincard{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}

.titleOut{
  padding-left: 20px;
  padding-right: 20px;
}

.title i{
  font-weight: 100;
  font-size: 1.2rem;
}

.title{
  font-family: comfortaa;
  font-weight: 900;
  font-size: 2.5rem;
}

.icons{
  font-family: comfortaa;
  font-weight: 900;
  font-size: 2.5rem;
}

.icons a{
  text-decoration: none;
  color: #AB47BC;
}

.icons .small{
  font-size: 1.5rem;
  padding-right: 15px;
}

.icons #mail{
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 100;
}

.description{
  font-family: comfortaa;
  font-weight: 200;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.description a{
  color: #AB47BC;
}

.description b{
  font-weight: 900;
  font-size: 1.4rem;
}

.description i{
  font-weight: 100;
  font-size: 0.8rem;
}

.code{
  font-family: monospace;
}

.code a{
  color: #AB47BC;
}

.btn-floating:hover{
  background-color: #AB47BC;
}

.darkbg{
  background-color: #111;
}

 #particles-js canvas {
     display: block;
     position: fixed;
     top: 0;
     left: 0;
     overflow: hidden;
     z-index: -10;
 }