.row{
  padding: 13% 3%;
}

nav{
  position: relative;
}

.spazio{
  padding: 0 3%;
  font-family: comfortaa;
}

h3{
  font-family: comfortaa;
  text-decoration: none;
}

html{
  text-decoration: none;
}

.testo-card{
  font-family: comfortaa;
  text-decoration: none;
}
