<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Ristorante</title>
    <!--Font lato-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <!--Font Comfortaa-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="css/restaurant_style.css">
    <!--animations-->
    <link rel="stylesheet" href="css/restaurant_animation.css">
    <!--Material icons-->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css">
  </head>
  <body>
    <nav>
   <div class="nav-wrapper black spazio">
     <a href="" class="brand-logo Comfortaa">Ristorante</a>
     <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="mdi mdi-menu"></i></a>
     <ul class="right hide-on-med-and-down">
       <li><a href="#about" class="Comfortaa"><i class="right mdi mdi-information"></i>Chi siamo</a></li>
       <li><a href="#menu" class="Comfortaa"><i class="right mdi mdi-heart"></i>Menú</a></li>
       <li><a href="#where" class="Comfortaa"><i class="right mdi mdi-map-marker"></i>Dove siamo</a></li>
       <li><a href="#hours" class="Comfortaa"><i class="right mdi mdi-clock-outline"></i>Orari</a></li>
     </ul>
   </div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
   <li><a href="#about" class="Comfortaa"><i class="right mdi mdi-information"></i>Chi siamo</a></li>
   <li><a href="#menu" class="Comfortaa"><i class="right mdi mdi-heart"></i>Menú</a></li>
   <li><a href="#where" class="Comfortaa"><i class="right mdi mdi-map-marker"></i>Dove siamo</a></li>
   <li><a href="#hours" class="Comfortaa"><i class="right mdi mdi-clock-outline"></i>Orari</a></li>
 </ul>

 <div class="slider fullscreen">
   <ul class="slides">
     <li>
       <img src="img/sli1.jpg">
       <div class="nero caption center-align">
         <h2>Nome Ristorante</h2>
       </div>
     </li>
     <li>
       <img src="img/sli2.jpg">
       <div class="nero caption center-align">
         <h2>Nome Ristorante</h2>
       </div>
     </li>
   </ul>
 </div>

<div id="menu">
  <h2 class="center">Menú</h2>
  <div class="row" id="masonry">
  <div class="col s12 m6 l6">
    <div class="card Comfortaa hoverable">
      <div class="card-image">
        <img src="img/m1.jpg">
        <a class="btn-floating halfway-fab black activator"><i class="mdi mdi-information-variant"></i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Pizza Margherita</span>
        <p>4,50$</p>
      </div>
      <div class="card-reveal">
        <span class="card-title">Pizza Margherita<i class="right mdi mdi-close"></i></span>
        <p>Semplice pizza Margherita con pomodoro e mozzarella ecc...</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card Comfortaa hoverable">
      <div class="card-image">
        <img src="img/m2.jpg">
        <a class="btn-floating halfway-fab black activator"><i class="mdi mdi-information-variant"></i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Spaghetti</span>
        <p>5,50$</p>
      </div>
      <div class="card-reveal">
        <span class="card-title">Spaghetti<i class="right mdi mdi-close"></i></span>
        <p>Spaghetti con sugo fatto dal nostro chef</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card Comfortaa hoverable">
      <div class="card-image">
        <img src="img/m3.jpg">
        <a class="btn-floating halfway-fab black activator"><i class="mdi mdi-information-variant"></i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Uovo fritto</span>
        <p>3,00$</p>
      </div>
      <div class="card-reveal">
        <span class="card-title">Uovo fritto<i class="right mdi mdi-close"></i></span>
        <p>Uova di galline allevate a terra e nutrite di cibi senza conservanti</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card Comfortaa hoverable">
      <div class="card-image">
        <img src="img/m4.jpg">
        <a class="btn-floating halfway-fab black activator"><i class="mdi mdi-information-variant"></i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Patatine fritte</span>
        <p>3,50$</p>
      </div>
      <div class="card-reveal">
        <span class="card-title">Patatine fritte<i class="right mdi mdi-close"></i></span>
        <p>Una porzione consigliata come antipasto (Prodotto surgelato)</p>
      </div>
    </div>
  </div>
</div>
</div>

 <div class="parallax-container">
   <div class="parallax">
     <img src="img/parallax1.jpg">
   </div>
 </div>
 <div id= "where" class="maps-container center">
   <h2>Dove siamo</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.6211900603284!2d12.499715015787661!3d41.901003179220375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61a439c0ffef%3A0xa4307dbef261a994!2sRoma+Termini!5e0!3m2!1sit!2sit!4v1555279597847!5m2!1sit!2sit" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div>

<div class="center" id="hours">
  <h2>Orari e contatti</h2>

  <div class="row">
    <div class="col s12 l4 offset-l2">
      <div class="card ombra">
      <div class="card-content">
        <span class="card-title">Lunedi / Venerdi</span>
        <ul class="collection">
          <li class="collection-item">
            <i class="mdi mdi-clock-outline"></i> 18:30 - 00:30
          </li>
          <span class="card-title">Sabato / Domenica</span>
          <ul class="collection">
            <li class="collection-item">
              <i class="mdi mdi-clock-outline"></i> 12:00 - 16:30
               / 18:30 - 00:30
            </li>
      </div>
    </div>
    </div>
    <div class="col s12 l4 ">
      <div class="card ombra">
        <div class="card-content">
          <span class="card-title">Contatti</span>
          <ul class="collection">
            <li class="collection-item">
              <i class="mdi mdi-home"></i> Via delle 100 strade, 40 - Roma
            </li>
            <li class="collection-item">
              <i class="mdi mdi-phone"></i> +123 45 67 890
            </li>
            <li class="collection-item">
              <i class="mdi mdi-facebook"></i> <a href="facebook.com" style="color:#262b35">Facebook</a>
            </li>
            <li class="collection-item">
              <i class="mdi mdi-instagram"></i> <a href="instagram.com" style="color:#262b35">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  </div>

 <div class="parallax-container cont2">
   <div class="parallax">
     <img src="img/parallax2.jpg">
   </div>
 </div>

 <div id="about">
   <h2 class="center">Chi Siamo</h2>
   <div class="row">
     <div class="col s12 m8 offset-m2">
       <div class="card ombra">
         <div class="card-content center Comfortaa">
           <p>Qui va inserita una breve presentazione del ristorante, magari anche la storia del locale in breve o cose del genere. Lo scopo della card é far appassionare il cliente al locale ancor prima che questo entri dentro lo stesso. Per esempio se abbiamo un cuoco o una specialitá della casa davvero unica questa sará la sezione per farla notare al nostro cliente</p>
         </div>
       </div>
     </div>
   </div>
 </div>

    <!--Javascript things-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="js/restaurant_main.js"></script>
  </body>
</html>
