.titolo{
  font-size: 800%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  width: 100%;
  font-family: Concert One;
  color: white;
}

.scritta{
  font-family: Comfortaa;
  color: white;
  background: #3498db;
  border-radius: 10px;
  position: absolute;
  top: 60%;
  margin-left: 10%;
  padding: 2%;
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
-moz-box-shadow: 5px 5px 10px 0px #000000;
-o-box-shadow: 5px 5px 10px 0px #000000;
box-shadow: 5px 5px 10px 0px #000000;
}

.menu_middle{
  margin: 0;
  padding: 0;
  font-family: comfortaa;
  list-style: none;
  text-decoration: none;
  position: absolute;
  top: 74%;
  left: 70%;
  transform: translate(-0%, -50%);
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
-moz-box-shadow: 5px 5px 10px 0px #000000;
-o-box-shadow: 5px 5px 10px 0px #000000;
box-shadow: 5px 5px 10px 0px #000000;
border-radius: 20px;
}

.menu_2{
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.item{
  border-top: 1px solid #2980b9;
  overflow: hidden;
}

.btn{
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: white;
  position: relative;
}

.btn:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.btn i{
  margin-right: 10px;
}
.smenu{
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.smenu a{
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}

.smenu a:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}



.item .smenu{
  max-height: 10em;
}
#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(../img/bg.jpg) no-repeat;
background-size: cover;
z-index: -10;
}
@media screen and (max-width: 992px){
  .menu_middle{
    margin: 0;
    padding: 0;
    font-family: comfortaa;
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #bgvid {display:none;}
  body {background: url(../img/bgm.jpg) no-repeat;background-size: cover; }
  .menu_2{
      width: 800px;
      border-radius: 8px;
      overflow: hidden;
  }
  .scritta{
    left: 50%;
    top: 70%;
    margin-left: 0%;
    transform: translate(-50%, 0%);
  }
}
